@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container2 {
  width: 100vw;
  height: 665.33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container2 section {
  width: 1564px;
  height: 508.02px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container2 section h2 {
  width: 1058.67px;
  height: 134px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 50.6667px;
  line-height: 67px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #5F5F5F;
  margin-bottom: 84px;
}
.container2 section h2 span {
  color: #2092E3;
}
.container2 section .seguraBenecifio {
  width: 1564px;
  height: 289.53px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 57px;
       column-gap: 57px;
}
.container2 section .seguraBenecifio .Beneficio1 {
  width: 482.92px;
  height: 289.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 section .seguraBenecifio .Beneficio1 .texto {
  width: 100%;
  height: 122.66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 section .seguraBenecifio .Beneficio1 .texto .titulo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 1.04053px;
  color: #2C4C63;
  width: 100%;
  margin-bottom: 7px;
}
.container2 section .seguraBenecifio .Beneficio1 .texto p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18.6667px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.669394px;
  color: #676767;
}
.container2 section .seguraBenecifio .Beneficio2 {
  width: 482.92px;
  height: 289.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 section .seguraBenecifio .Beneficio2 .texto2 {
  width: 100%;
  height: 122.66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 section .seguraBenecifio .Beneficio2 .texto2 .titulo2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 1.04053px;
  color: #2C4C63;
  width: 100%;
  margin-bottom: 7px;
}
.container2 section .seguraBenecifio .Beneficio2 .texto2 p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18.6667px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.669394px;
  color: #676767;
}
.container2 section .seguraBenecifio .Beneficio3 {
  width: 482.92px;
  height: 289.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 section .seguraBenecifio .Beneficio3 .texto3 {
  width: 100%;
  height: 122.66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 section .seguraBenecifio .Beneficio3 .texto3 .titulo3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 1.04053px;
  color: #2C4C63;
  width: 100%;
  margin-bottom: 7px;
}
.container2 section .seguraBenecifio .Beneficio3 .texto3 p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18.6667px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.669394px;
  color: #676767;
}

@media screen and (max-width: 1440px) {
  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .container2 section {
    width: 98%;
    height: 80%;
  }
  .container2 section h2 {
    width: 65%;
    font-size: 40px;
    line-height: 47px;
  }
  .container2 section .seguraBenecifio {
    width: 100%;
    -moz-column-gap: 3px;
         column-gap: 3px;
  }
}
@media screen and (max-width: 950px) {
  .container2 {
    height: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container2 section h2 {
    width: 100%;
    height: auto;
    font-size: 36px;
    line-height: 36px;
  }
  .container2 section .seguraBenecifio {
    align-items: center;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 479px) {
  .container2 section {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .container2 section h2 {
    width: 100%;
    height: auto;
    font-size: 36px;
    line-height: 36px;
  }
  .container2 section .seguraBenecifio {
    row-gap: 35px;
  }
  .container2 section .seguraBenecifio .Beneficio1 .texto .titulo {
    font-size: 28px;
  }
  .container2 section .seguraBenecifio .Beneficio2 .texto2 .titulo2 {
    font-size: 28px;
    width: 405px;
  }
  .container2 section .seguraBenecifio .Beneficio3 .texto3 .titulo3 {
    font-size: 28px;
  }
}/*# sourceMappingURL=Beneficio.css.map */