@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container2 {
    width: 100vw;
    height: 665.33px;
    display: flex;
    align-items: center;
    justify-content: center;

    section {
        width: 1564px;
        height: 508.02px;
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            width: 1058.67px;
            height: 134px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 50.6667px;
            line-height: 67px;
            text-align: center;
            letter-spacing: 1.2px;
            color: #5F5F5F;
            margin-bottom: 84px;

            span {
                color: #2092E3;
            }

        }

        .seguraBenecifio {
            width: 1564px;
            height: 289.53px;
            display: flex;
            flex-direction: row;
            column-gap: 57px;


            .Beneficio1 {
                width: 482.92px;
                height: 289.33px;
                display: flex;
                flex-direction: column;
                align-items: center;


                .texto {
                    width: 100%;
                    height: 122.66px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .titulo {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 39px;
                        letter-spacing: 1.04053px;
                        color: #2C4C63;
                        width: 100%;
                        margin-bottom: 7px;
                    }

                    p {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18.6667px;
                        line-height: 25px;
                        text-align: center;
                        letter-spacing: 0.669394px;
                        color: #676767;
                    }
                }

            }

            .Beneficio2 {
                width: 482.92px;
                height: 289.33px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .texto2 {
                    width: 100%;
                    height: 122.66px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .titulo2 {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 39px;
                        letter-spacing: 1.04053px;
                        color: #2C4C63;
                        width: 100%;
                        margin-bottom: 7px;

                    }

                    p {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18.6667px;
                        line-height: 25px;
                        text-align: center;
                        letter-spacing: 0.669394px;
                        color: #676767;
                    }
                }
            }

            .Beneficio3 {
                width: 482.92px;
                height: 289.33px;
                display: flex;
                flex-direction: column;
                align-items: center;


                .texto3 {
                    width: 100%;
                    height: 122.66px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .titulo3 {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 39px;
                        letter-spacing: 1.04053px;
                        color: #2C4C63;
                        width: 100%;
                        margin-bottom: 7px;

                    }

                    p {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18.6667px;
                        line-height: 25px;
                        text-align: center;
                        letter-spacing: 0.669394px;
                        color: #676767;
                    }

                }

            }
        }
    }
}