@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container4 {
  width: 100vw;
  height: 980px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
}
.container4 section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container4 section h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50.6667px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  margin-bottom: 13px;
}
.container4 section .coberturas {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18.6667px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.266667px;
  color: #FFFFFF;
  margin-bottom: 53px;
}
.container4 section .coberturas span {
  color: #2092E3;
}
.container4 section .container-card {
  width: 1678.28px;
  margin-bottom: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 34px;
       column-gap: 34px;
}
.container4 section .container-card .segura-dupla {
  display: flex;
  -moz-column-gap: 34px;
       column-gap: 34px;
}
.container4 section .container-card .segura-dupla .card1 {
  width: 384.7px;
  height: 525.33px;
  border-radius: 11.6224px;
  background-image: url(../../image/CarroFogo.png);
  display: flex;
  position: relative;
}
.container4 section .container-card .segura-dupla .card1 .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16.2714px;
  line-height: 28px;
  letter-spacing: 0.232448px;
  color: #FFFFFF;
  position: absolute;
  left: 23.24px;
  bottom: 140.71px;
}
.container4 section .container-card .segura-dupla .card1 .tipo-seguro {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.232448px;
  color: #FFFFFF;
  position: absolute;
  left: 23.24px;
  bottom: 53.28px;
}
.container4 section .container-card .segura-dupla .card2 {
  width: 384.7px;
  height: 525px;
  border-radius: 11.6224px;
  background-image: url(../../image/CarroBate.png);
  display: flex;
  position: relative;
}
.container4 section .container-card .segura-dupla .card2 .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16.2714px;
  line-height: 28px;
  letter-spacing: 0.232448px;
  color: #FFFFFF;
  position: absolute;
  left: 23.24px;
  bottom: 140.71px;
}
.container4 section .container-card .segura-dupla .card2 .tipo-seguro {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.232448px;
  color: #FFFFFF;
  position: absolute;
  left: 23.24px;
  bottom: 53.28px;
}
.container4 section .container-card .segura-dupla2 {
  display: flex;
  -moz-column-gap: 34px;
       column-gap: 34px;
}
.container4 section .container-card .segura-dupla2 .card3 {
  width: 384.7px;
  height: 525px;
  border-radius: 11.6224px;
  background-image: url(../../image/Reboque.png);
  display: flex;
  position: relative;
}
.container4 section .container-card .segura-dupla2 .card3 .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16.2714px;
  line-height: 28px;
  letter-spacing: 0.232448px;
  color: #FFFFFF;
  position: absolute;
  left: 23.24px;
  bottom: 140.71px;
}
.container4 section .container-card .segura-dupla2 .card3 .tipo-seguro {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.232448px;
  color: #FFFFFF;
  position: absolute;
  left: 23.24px;
  bottom: 53.28px;
}
.container4 section .container-card .segura-dupla2 .card4 {
  width: 384.7px;
  height: 525px;
  border-radius: 11.6224px;
  background-image: url(../../image/Furto.png);
  display: flex;
  position: relative;
}
.container4 section .container-card .segura-dupla2 .card4 .title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16.2714px;
  line-height: 28px;
  letter-spacing: 0.232448px;
  color: #FFFFFF;
  position: absolute;
  left: 23.24px;
  bottom: 140.71px;
}
.container4 section .container-card .segura-dupla2 .card4 .tipo-seguro {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.232448px;
  color: #FFFFFF;
  position: absolute;
  left: 23.24px;
  bottom: 53.28px;
}
.container4 section h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 34.6667px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 0.266667px;
  color: #FFFFFF;
}
.container4 section h3 .negrito {
  font-weight: 700;
}

@media screen and (max-width: 1670px) {
  .container4 {
    height: 1700px;
    display: flex;
    flex-direction: column;
  }
  .container4 section {
    height: 100%;
  }
  .container4 section .container-card {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }
}
@media screen and (max-width: 825px) {
  .container4 {
    height: 2600px;
    display: flex;
    flex-direction: column;
  }
  .container4 section {
    height: 100%;
  }
  .container4 section .coberturas {
    width: 500px;
  }
  .container4 section .container-card {
    height: 2200px;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }
  .container4 section .container-card .segura-dupla {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }
  .container4 section .container-card .segura-dupla2 {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }
  .container4 section h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 479px) {
  .container4 section h2 {
    font-size: 36px;
  }
  .container4 section .coberturas {
    width: 360px;
    font-size: 16px;
  }
  .container4 section .container-card {
    height: 2200px;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }
  .container4 section .container-card .segura-dupla {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }
  .container4 section .container-card .segura-dupla2 {
    display: flex;
    flex-direction: column;
    row-gap: 34px;
  }
  .container4 section h3 {
    font-size: 18px;
  }
}/*# sourceMappingURL=Seguros.css.map */